table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th,
td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

td {
    font-size: 14px;
}


.scroll-hint {
    display: none !important;
}

@media (max-width: 767px) {
    .scroll-hint {
        display: flex;
        text-align: center;
        font-size: 0.9rem;
        color: #6c757d;
    }

    .scroll-hint span {
        font-weight: bold;
    }
}